<div class="container">
  <div class="title">
    <h1>GABRIC</h1>
  </div>

  @if(!started){
    <img src="../assets/images/coracao.png" alt="" class="img-title">

    <div class="buttons">
      <button (click)="setStarted()" type="button" class="btn btn-game">Começar novo jogo</button>
    </div>
  }@else{
    <div class="card-game">
      @for (item of cards; track $index) {
        <div (click)="locateItem(item.Casa)" class="card-item">
          <p>{{item.Casa}}</p>
        </div>
      }
    </div>
  }
</div>
@if(visibleItem){
  <div class="item">
    <div class="item-close">
      <i (click)="setVisible()" class="pi pi-times" style="color: white"></i>
    </div>
    <h1>{{itemForm.Categoria}} - {{itemForm.Casa}}</h1>
    <h4>{{itemForm.Acao}}</h4>
    <p>{{itemForm.Descricao}}</p>

    @if(itemForm.Categoria == 'Romântico' || itemForm.Categoria == 'Especial Romântico'){
      <img src="../assets/images/romance.png" alt="">
    }

    @if(itemForm.Categoria == 'Sensual' || itemForm.Categoria == 'Especial Sensual'){
      <img src="../assets/images/sensual.png" alt="">
    }

    @if(itemForm.Categoria == 'Erótico' || itemForm.Categoria == 'Especial Erótico'){
      <img src="../assets/images/erotico.png" alt="">
    }

    @if(itemForm.Categoria == 'Pergunta Picante' || itemForm.Categoria == 'Especial Pergunta Picante'){
      <img src="../assets/images/perguntas.png" alt="">
    }

    @if(itemForm.Categoria == 'Brincadeira' || itemForm.Categoria == 'Especial Brincadeira'){
      <img src="../assets/images/brincadeira.png" alt="">
    }

    @if(itemForm.Categoria == 'Pausa e Recompensa'){
      <img src="../assets/images/pausa.png" alt="">
    }
  </div>
}
